.header {
	margin: 0;
}
.navigation {
	margin: 0;
	z-index: 3;
}
.wrapper {
	margin: 0;
	box-shadow: 1px -2px 5px;
	z-index: 1;
}

.footer {
	margin: 0;
	background:#f4f4f4;
	z-index: 2;
}

.page_title {
	text-align: center;
}

